.side-nav {
  padding: 10px 50px;
  width: calc(100vw - 100px);
  height: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  align-items: center;
}

.logo-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.side-nav:hover .logo-container img {
  transform: scaleX(-1);
}

.logo-container img {
  width: 50px;
  transition: transform .4s ease-in-out;
}

.nav-items {
  display: flex;
  gap: 50px;
}

.nav-items .nav-item {
  cursor: pointer;
  text-transform: none;
  color: inherit;
  transition: color 0.2s ease-in-out;

  &:hover, &.active {
    color: #ff3050;
    transition: color 0.2s ease-in-out;
  } 
}

.auth-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;

  > div {
    width: 200px;
  }

  path {
    transition: all 0.2s ease-in-out;
    fill: #000000;
  }

  button {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #000000;
    transition: all 0.2s ease-in-out;
    outline: none !important;
    font-size: 14px;

    &:hover {
      border-color: #ff3050;
      color: #ff3050;
      transition: all 0.2s ease-in-out;
      background-color: inherit !important;
    }
  }
}

.auth-container button:hover {
  path {
    fill: #ff3050;
    transition: all 0.2s ease-in-out;
  }
}