.your-subscriptions {

}

.subscriptions-grid, .most-subscriptions-grid {
  display: flex;
  gap: 20px;
  margin-bottom: 100px;
}

.most-subscribed-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.subscriber-count {
  margin-top: 10px;
  font-size: 12px;
}