.game-card-container {
  display: flex;
  flex-direction: column;
}

.game-card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
  width: 150px;
  height: 150px;
  background-size: cover;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.game-card .game-name {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: background 0.3s ease-in-out;
  color: transparent;
  transition: color 0.2s ease-in-out;
}

.game-card:hover .game-name {
  background: rgba(255, 255, 255, 0.8);
  color: inherit;
  transition: color .7s ease-in-out;
}

.game-card .game-name span {
  font-size: 20px;
  padding: 20px;
  text-align: center;
}