@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

#root {
  font-family: "Poppins", sans-serif;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.outlet-container {
  padding: 20px 50px;
  width: calc(100vw - 100px);
  flex: auto;
}



