@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

#root {
  font-family: "Poppins", sans-serif;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
}

.outlet-container {
  /* background: red; */
  padding: 20px 100px 20px 50px;
  flex: auto;
}



